{% include work/project-cover.html %}

<!-- Section 1 -->
<div class="section work-section bg-white">
	
	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-phone.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-tablet.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 1 -->
	<div class="layer">
	    <h2>Digital Ads</h2>
	    <p>Working with Dropbox for Business to help them drive more leads amongst IT buyers looking for a file sharing and syncing solution.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 2 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-phone.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-tablet.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 2 -->
	<div class="layer">
	    <h2>Target Audience</h2>
	    <p>IT buyers, the objective was to drive users to download “Top tips for IT buyers”.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 3 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-phone.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-tablet.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 3 -->
	<div class="layer">
	    <h2>Cool animation</h2>
	    <p>Awesome icon and button animations to drag users atention and donwload guide.</p>
	</div>
	<div class="waypoint-hide"> </div>
</div>
<!-- END SECTION -->
