{% include work/project-cover.html %}

<!-- Section 1 -->
<section class="section work-section bg-white">
	
	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 1 -->
	<div class="layer">
	    <h2>Digital Ads</h2>
	    <p>Working with Dropbox for Business to help them drive more leads amongst IT buyers looking for a file sharing and syncing solution.</p>
	</div>
</section>
<!-- END SECTION -->

<!-- Section 2 -->
<section class="section work-section bg-white">

<div class="work-image">	
		<div style="z-index:1000;position:absolute;rgba(0, 0, 0,1);height:100%;width:100%" class="hidden-md hidden-lg"></div>
		   <iframe class="virgin-wheel" width="100%" height="90%" src="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/hopster-display/hopster-display.html" frameborder="0" allowfullscreen></iframe>	
</div>

	<!-- Section COPY 2 -->
	<div class="layer">
	    <h2>Experience Wheel</h2>
	    <p>On site offer that lets the user spin an amazing whell and  discover a guaranteed Virgin prize, plus the chance to win an incredible holiday.</p>
	</div>
</section>
<!-- END SECTION -->


<!-- Section 3 -->
<section class="section work-section bg-white">
		
	<!-- Section IMAGE 3 -->
	<picture class="work-image imgRandom1" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<picture class="work-image imgRandom2" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 3 -->
	<div class="layer">
	    <h2>Rich world</h2>
	    <p>Jackpotjoy is all about fun and this is brought to life in the exciting interactive promotions, fantastic prize giveaways and lively Chat community, buzzing with thousands of members.</p>
	</div>
	
</section>
<!-- END SECTION -->


<!-- Section 4 -->
<section class="section work-section bg-white">
		
	<!-- Section IMAGE 4 -->
	<picture class="work-image imgRandom1" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<picture class="work-image imgRandom2" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<picture class="work-image imgRandom2" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 4 -->
	<div class="layer">
	    <h2>Rich world</h2>
	    <p>Jackpotjoy is all about fun and this is brought to life in the exciting interactive promotions, fantastic prize giveaways and lively Chat community, buzzing with thousands of members.</p>
	</div>
	<div class="waypoint-hide"> </div>	
</section>
<!-- END SECTION -->