{% include work/project-cover.html %}

<!-- Section 1 -->
<div class="section work-section bg-white">
	
	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 1 -->
	<div class="layer">
	    <h2>Home of jackpots</h2>
	    <p>Jackpotjoy is home to the best games and the biggest jackpots around. Jackpotjoy is Britain’s biggest bingo site.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 2 -->
<div class="section work-section bg-white">
	
	<!-- Section COPY 2 -->
	<div class="top-text">
	    <h2>Rich world</h2>
	    <p>Jackpotjoy is all about fun and this is brought to life in the exciting interactive promotions, fantastic prize giveaways and lively Chat community, buzzing with thousands of members.</p>
	</div>
	
	<!-- Section IMAGE 2 -->
	<picture class="work-image work-image-bottom" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
</div>
<!-- END SECTION -->


<!-- Section 3 -->
<div class="section work-section bg-white">

<a href="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/jackpotjoy-christmas-tree.jpg" target="_blank">
	<!-- Section IMAGE 3 -->
	<picture class="work-image">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
</a>	

	<!-- Section COPY 3 -->
	<div class="layer">
	    <h2>Interactive promotions</h2>
	    <p>Pick and play, collect jackpot balls and treasure hunter games fun and interactive promotions to engage and entertain users.</p>
	    <div class="waypoint-hide"> </div>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 4 -->
<div id="cardAnimation" class="section work-section bg-jpj">

	<!-- Section IMAGE 4 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 4 -->
	<div class="layer padding-fix-layer">
	    <h2><span class="white">Daily offers</span></h2>
	    <p><span class="white">Real time achievements: players keep on coming back to play on site and having fun.</span></p>
	    
	    <h6><span class="white">Play for 3 days and get £20 with Tiki’s loyalty card</span></h6>  
	    <div class="cardWrapper">
	      <div class="card">
	        <div class="cardFace front"><img src="" data-src="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/jackpotjoy-card-front.png"></div>
	        <div class="cardFace back"><img src="" data-src="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/jackpotjoy-card-back.png"></div>
	      </div>
	    </div>
	    <div class="waypoint-show"> </div>
	</div>
	
	
	
	<script type="text/javascript">
	$(function() { 
		
		var waypoints = $('#cardAnimation').waypoint({
		  handler: function(direction) {
		    	    TweenMax.staggerTo($(".card"), 1, {rotationY:-180, repeat:1, yoyo:true}, 0.1);
		    
		  }
		})
		
	});
	</script>
	
</div>
<!-- END SECTION -->


<!-- Section 5 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 6 -->
	<picture class="work-image left-work-image tiki-groove-bg" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section IMAGE 5 -->
	<div class="work-image left-work-image">	
	
		<div style="z-index:1000;position:absolute;rgba(0, 0, 0,1);height:100%;width:100%" class="hidden-md hidden-lg"></div>
		   <iframe class="tiki-groove" width="100%" height="90%" src="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/tiki-groove/tiki-groove.html" frameborder="0" allowfullscreen></iframe>
	</div>
	
	
	<!-- Section COPY 5 -->
	<div class="layer right-layer">
	    <h2>Chat animation</h2>
	    <p>As part of promotion campain on site, fun and creative chat animations insertion.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 6 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 6 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-6-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 6 -->
	<div class="layer">
	    <h2>Global brand</h2>
	    <p>Jackpotsjoy is in 3 different countries, Spain, Sweden and United Kingdom.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 7 -->
<div class="section work-section jpj-vip-bg">

	<!-- Section IMAGE 7 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-phone.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-phone-retina.png 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-tablet.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-tablet-retina.png 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-desktop-retina.png 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-7-desktop-retina.png 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 7 -->
	<div class="layer">
	    <h2>Exclusive content</h2>
	    <p>For Vip players a new look to the site and promotions.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 8 -->
<div class="section work-section jpj-vip-bg">

	<!-- Section IMAGE 8 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-phone.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-phone-retina.png 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-tablet.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-tablet-retina.png 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-desktop-retina.png 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-8-desktop-retina.png 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 8 -->
	<div class="layer">
	    <h2>Gift box</h2>
	    <p>To thank Jackpotjoy’s most loyal players, a set of tailor made gift boxes for festive season.</p>
	</div>
    <div class="waypoint-hide"> </div>
</div>
<!-- END SECTION -->