{% include work/project-cover.html %}

<div class="section work-section bg-white">
	
	<picture class="work-image">
		<!-- 16:9 crop -->
		<source
			media="(min-width: 400px)"
			srcset="{{ site.baseurl }}/assets/images/work/dropbox/dropbox1-desktop.jpg" />
		<!-- square crop -->
		<source
			srcset="{{ site.baseurl }}/assets/images/work/dropbox/dropbox1-phone.jpg" />
		<img
			src="{{ site.baseurl }}/assets/images/work/dropbox/dropbox1-phone.jpg"
			alt="Detail of the above quilt, highlighting the embroidery and exotic stitchwork." />
	</picture>
	
	<div class="layer">
	    <h2>Digital Ads</h2>
	    <p>Working with Dropbox for Business to help them drive more leads amongst IT buyers looking for a file sharing and syncing solution.</p>
	</div>
</div>

<div class="section work-section bg-white">
	<div class="layer">
	    <h2>Hi, I am <br>
	    Ariel Nunes</h2>
	    <a class="ghost-button link" href="{{ site.baseurl }}/work/project1.html">See project</a>
	</div>
	<div class="waypoint-hide"> </div>
</div>

<div class="section work-section bg-black">
	<div class="layer">
	    <h2>Hi, I am <br>
	    Ariel Nunes</h2>
	    <a class="ghost-button link" href="{{ site.baseurl }}/work/project1.html">See project</a>
	</div>
</div>

<div class="section work-section bg-black">
	<div class="layer">
	    <h2>Hi, I am <br>
	    Ariel Nunes</h2>
	    <a class="ghost-button link" href="{{ site.baseurl }}/work/project1.html">See project</a>
	</div>
</div>

