{% include work/project-cover.html %}


<!-- Section 2 -->
<div class="section work-section bg-white">
	
	<!-- Section IMAGE 2 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 2 -->
	<div class="layer">
	    <h2>Experience more</h2>
	    <p>Virgin Games is all about giving players entertaining experiences. From stunning Slots, Casino and Bingo games to unforgettable Virgin giveaways.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 3 -->
<div class="section work-section bg-white">
		
	<!-- Section IMAGE 3 -->
	<picture class="work-image imgRandom1" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<picture class="work-image imgRandom2" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-3-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<picture class="work-image imgRandom3" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 3 -->
	<div class="layer">
	    <h2>Rich world</h2>
	    <p>Jackpotjoy is all about fun and this is brought to life in the exciting interactive promotions, fantastic prize giveaways and lively Chat community, buzzing with thousands of members.</p>
	</div>
	
</div>
<!-- END SECTION -->


<!-- Section 1 -->
<div class="section work-section bg-white">


<!-- Section IMAGE 1 -->
<picture class="work-image fix-top" >
    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-infographic-phone.svg" media="(max-width: 750px)">
    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-infographic.svg">
    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-infographic.svg" alt="{{ project.title }}">
</picture>

	
	<!-- Section COPY 1 -->
	<div class="layer">
	    <h2>Target Audience</h2>
	    <p>IT buyers, the objective was to drive users to download “Top tips for IT buyers”.</p>
	</div>
		<div class="waypoint-hide"> </div>
</div>
<!-- END SECTION -->
