<!-- Project Header -->
<div class="section work-section bg-black">
	
	<picture>
	      <source media="(min-width: 768px)" srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-desktop.jpg">
	      <!-- img tag for browsers that do not support picture element -->
	      <img class="bgImg" src="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/{{ project.folder }}-phone.jpg" alt="Dropbox for Business">
    </picture>
		
    <div id="first-section" class="layer">
	    <div class="waypoint-show"> </div>
	</div>
</div>