<!-- Project Header -->
<div class="section work-section bg-black">
	
	<picture>
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-phone.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-tablet.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-desktop-retina.jpg 2x">
	    <img class="bgImg" srcset="{{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-desktop.jpg, {{ site.baseurl }}/{{ project.cover }}/{{ project.folder }}/cover/{{ project.folder }}-cover-desktop-retina.jpg 2x" alt="{{ project.folder }} cover">
	</picture>
	
		
    <div id="first-section" class="layer">
	    <div class="waypoint-show"> </div>
	</div>
</div>


