{% include work/project-cover.html %}

<!-- Section 1 -->
<div class="section work-section bg-white">
	
	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-1-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>

	<!-- Section COPY 1 -->
	<div class="layer">
	    <h2>Experience more</h2>
	    <p>Virgin Games is all about giving players entertaining experiences. From stunning Slots, Casino and Bingo games to unforgettable Virgin giveaways.</p>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 2 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 1 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-2-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 2 -->
	<div class="layer">
	    <h2>Spoilt for Choice</h2>
	    <p>An interactive responsive HTML5 page that let’s the player to chose wich prize he could win after playing any game on the site.</p>
	    <div class="waypoint-hide"> </div>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 3 -->
<div class="section work-section bg-wheel-vg">

	<div class="work-image">	
			<div style="z-index:1000;position:absolute;rgba(0, 0, 0,1);height:100%;width:100%" class="hidden-md hidden-lg"></div>
			   <iframe class="virgin-wheel" width="100%" height="90%" src="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/wheel/wheel.html" frameborder="0" allowfullscreen></iframe>	
	</div>

	<!-- Section COPY 3 -->
	<div class="layer">
	    <h2><span class="white">Experience Wheel</span></h2>
	    <p><span class="white">On site offer that lets the user spin an amazing whell and  discover a guaranteed Virgin prize, plus the chance to win an incredible holiday.</span></p>
	    <div class="waypoint-show"> </div>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 4 -->
<div class="section work-section bg-white">

	<!-- Section IMAGE 4 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-phone-retina.jpg 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-tablet-retina.jpg 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop.jpg, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-4-desktop-retina.jpg 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 4 -->
	<div class="layer">
	    <h2>Offers send by post</h2>
	    <p>For existing players, unmissable offers such as cash and airline tickets giveaway were send by post in shape of a cool wallet.</p>
	    <div class="waypoint-hide"> </div>
	</div>
</div>
<!-- END SECTION -->


<!-- Section 5 -->
<div class="section work-section bg-stars-vg">

	<!-- Section IMAGE 5 -->
	<picture class="work-image" >
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-phone-retina.png 2x" media="(max-width: 414px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-tablet-retina.png 2x" media="(max-width: 1024px)">
	    <source srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.png 2x">
	    <img srcset="{{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop.png, {{ site.baseurl }}/assets/images/work/{{ project.folder }}/{{ project.folder }}-5-desktop-retina.png 2x" alt="{{ project.title }}">
	</picture>
	
	<!-- Section COPY 5 -->
	<div class="layer">
	    <h2><span class="white">Exclusive content</span></h2>
	    <p><span class="white">For Vip players a new look to the site and promotions.</span></p>
	</div>
</div>
<!-- END SECTION -->