<nav id="work-nav">
	<ul>
		<li><div class="work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}" alt="Gaming work">{% include work/icons/game.html %}  <span class="work-icon-title">Gaming</span></a></div></li>
		<li><div class="work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}" alt="Technology work">{% include work/icons/tech.html %}  <span class="work-icon-title">Technology</span></a></div></li>
		<li><div class="work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}" alt="Kids work">  <img src="{{ site.baseurl }}/assets/images/work/icons/kids.svg" alt="Kids icon">  <span class="work-icon-title">Kids</span></a></div></li>
		<li><div class="work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}" alt="Services work">{% include work/icons/services.html %}  <span class="work-icon-title">Services</span></a></div></li>
		<li><div class="work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}" alt="Product Design work">{% include work/icons/product.html %}  <span class="work-icon-title">Product Design</span></a></div></li>
		<li><div class="work-icon"><a class="link-work" href="{{ site.baseurl }}" alt="Legacy work">  <img src="{{ site.baseurl }}/assets/images/work/icons/legacy.svg" alt="Legacy icon">  <span class="work-icon-title">Legacy</span></a></div></li>
	</ul>
</nav>