<nav id="work-nav">
	<ul class="row work-nav-container">
		 <li data-menuanchor="Gaming" class="two columns work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}#Gaming" alt="Gaming work">{% include work/icons/game.html %}<span class="work-icon-title">Gaming</span></a></li>  
		 <li data-menuanchor="Technology" class="two columns work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}#Technology" alt="Technology work">{% include work/icons/tech.html %}<span class="work-icon-title">Technology</span></a></li>  
		 <li data-menuanchor="Kids" class="two columns work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}#Kids" alt="Kids Work">{% include work/icons/kids.html %}<span class="work-icon-title">Kids</span></a></li>  
		 <li data-menuanchor="Services" class="two columns work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}#Services" alt="Services work">{% include work/icons/services.html %}<span class="work-icon-title">Services</span></a></li>  
		 <li data-menuanchor="Product" class="two columns work-icon work-icon-margin"><a class="link-work" href="{{ site.baseurl }}#Product" alt="Product Design work">{% include work/icons/product.html %}<span class="work-icon-title">Product Design</span></a></li>  
		 <li data-menuanchor="Legacy" class="two columns work-icon work-icon-fix"><a class="link-work" href="{{ site.baseurl }}#Legacy" alt="Legacy Work">{% include work/icons/legacy.html %}<span class="work-icon-title">Legacy</span></a></li>  
	</ul>
</nav>