<nav>
	
	<!-- Navigation -->
	<div class="menu-wrap">
		<nav class="menu">
			<div class="icon-list">
				<a href="{{ site.baseurl }}/work/"><i class="fa fa-fw iconMenu">{% include /icons/work.html %}</i><span>Work</span></a>
				<a href="{{ site.baseurl }}/about/"><i class="fa fa-fw iconMenu">{% include /icons/about.html %}</i><span>About</span></a>
				<a href="{{ site.baseurl }}/contact/"><i class="fa fa-fw iconMenu">{% include /icons/contact.html %}</i><span>Contact</span></a>
				<a class="ghost-button startProject" href="{{ site.baseurl }}/contact/">Start a project</a>
			</div>
		</nav>
		<button class="close-button" id="close-button">Close Menu</button>
	</div>
	<button class="menu-button" id="open-button">Open Menu</button>
		
	<span id="nav-black">{% include /icons/menu-icon-black.html %}</span>
	<a id="nav-toggle" href="#"><span></span></a>
	
</nav>	