---
layout: work
---

{% for project in site.data.settings.projects %}

		<p>{{ project.name }}</p>
		<div id="logo-work">
			<a class="link" href="{{ site.baseurl }}" alt="Logo Work">{% include {{ project.logo }} %}</a>
		</div>
	
		{{ content }}	
		
<div class="section work-section last-section bg-black">
	<div class="center">
	    <h2 class="white">Drive users</h2>
	    <a class="ghost-button startProject" href="{{ site.baseurl }}/contact">Start a project</a>
	
		<a href="{{ site.baseurl }}/work/project1.html">
			<div id="nextProjectBar" class="nextProjectBar" style="background-color: {{ project.colour-next }};">
				<div id="arrow-down-icon">{% include icons/arrow-down-icon.html %}</div>
				<div id="logo-next-work">{% include {{ project.logo-next }} %}</div>
				<div class='mouse-container'>
				  <div class='mouse'>
				    <span class='scroll-down'></span>
				  </div>
				</div>
			</div>
		</a>
	</div>
</div>

<div id="next-project-url">{{ project.next-project }}</div>
		
{% endfor %}	